## Modules
node_modules

## Build directory
build

## ESLint Cache
.eslintcache

## Configuration
!config.json/main.example.json
config/*.json

## Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Logs
*.log
